@import '~@angular/material/theming';

h1,
h2,
h3,
h4,
h5,
h6,
p,
ol,
ul,
li {
  margin: 2px;
}


.note{
  width: 97vw;
  padding: 10px;
  border: 1px dashed #542dbe;
  color: white;
  background-color: #209292;
  font-size: 2em;
  border-radius: 4px;
  margin: 10px auto;

}

.ql-snow .ql-toolbar button {
  background-color: black;

}