@import "~@angular/material/theming";

h1,
h2,
h3,
h4,
h5,
h6,
p,
ol,
ul,
li {
  margin: 2px;
}

.note {
  width: 97%;
  padding: 10px;
  border: 2px dashed #ffffff;
  color: white;
  background-color: #205d92;
  font-size: 1.5em;
  border-radius: 4px;
  margin: 10px auto;
}

.ql-snow .ql-toolbar button {
  background-color: black;
}
